* {
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

:root {
  background: #fff;
  color: #000;
  font: normal normal 16px/1.5 sans-serif;
  padding: 1.5rem;
  text-align: left;
}

[role=link],
a,
details summary {
  color: #00f;
}
[role=link]:focus,
a:focus,
details summary:focus {
  color: #f00;
}

abbr {
  cursor: help;
}

b,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
strong,
th {
  font-weight: bold;
}

i,
dfn,
em,
var {
  font-style: italic;
}

s,
[role=deletion],
del {
  text-decoration: line-through;
}

u,
[role=insertion],
ins {
  text-decoration: underline;
}

blockquote {
  font-size: 1.185rem;
}

caption,
figcaption {
  margin: 0.5rem 0 0;
  text-align: center;
}

code {
  background: #ccc;
  color: #000;
  font-family: monospace;
}

label,
select,
[role=button],
[role=button]:any-link,
button,
input[type=button],
input[type=reset],
input[type=submit],
details summary {
  cursor: pointer;
  user-select: none;
}

dl,
ol,
ul {
  margin-left: 1.5rem;
}

fieldset {
  border: 1px solid;
  padding: 1.5rem;
}

figure {
  text-align: center;
}
figure audio,
figure iframe,
figure img,
figure video {
  border: 1px solid;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/* <https://www.modularscale.com/?10,60&px&1.5> */
h1 {
  font-size: 3.375rem;
}

h2 {
  font-size: 2.667rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.778rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.185rem;
}

hr {
  border: 0;
  border-top: 1px solid;
}

iframe {
  border: 0;
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

kbd {
  background: #ccc;
  border: 2px outset;
  color: #000;
  display: inline-block;
  padding: 0 0.35rem;
}

legend {
  padding: 0 0.5rem;
}

[role=mark],
mark {
  background: #ff0;
  color: #000;
}

ol {
  list-style: decimal;
}

pre code {
  display: block;
  overflow: auto;
  padding: 0.75rem 1rem;
  white-space: pre-wrap;
}

small,
sub,
sup {
  font-size: 0.79rem;
}

sub,
sup {
  line-height: 0;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

svg {
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table caption {
  caption-side: bottom;
}
table th,
table td {
  border: 1px solid;
  padding: 0.5rem 0.65rem;
  vertical-align: top;
}

ul {
  list-style: disc;
}

audio,
video {
  background: #000;
  display: block;
  height: auto;
  width: 100%;
}

* + blockquote,
* + details,
* + dl,
* + dt,
* + fieldset,
* + figure,
* + form,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + hr,
* + ol,
* + p,
* + pre,
* + table,
* + ul {
  margin-top: 1.5rem;
}

legend + * {
  margin-top: 0;
}

[role=button],
button,
input,
output,
select,
textarea {
  accent-color: #00f;
  border: 2px solid #000;
  color: #000;
  display: inline-block;
  height: 2.25rem;
  line-height: calc(2.25rem - 4px);
  /* Minus the `border-width` */
  outline: 0;
  padding: 0 0.5rem;
  vertical-align: middle;
  width: 18.5rem;
}
[role=button]:focus,
button:focus,
input:focus,
output:focus,
select:focus,
textarea:focus {
  border-color: #00f;
  color: #000;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

[role=button],
[role=button]:any-link,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background: #00f;
  border-color: #000;
  color: #fff;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  text-align: center;
  width: auto;
}
[role=button]:focus,
[role=button]:any-link:focus,
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  background: #f00;
  border-color: #000;
  color: #fff;
}

input[type=checkbox],
input[type=image],
input[type=radio],
input[type=range] {
  background: 0 0;
  border: 0;
}
input[type=checkbox],
input[type=color],
input[type=file],
input[type=image],
input[type=radio],
input[type=range] {
  cursor: pointer;
}
input[type=checkbox],
input[type=color],
input[type=radio] {
  height: 1rem;
  padding: 0;
  width: 1rem;
}
input[type=color] {
  height: 2.25rem;
  width: 2.25rem;
}
input[type=file] {
  padding: 0;
}
input[type=file]::file-selector-button {
  background: #00f;
  border: 0 solid #000;
  border-inline-end-width: 2px;
  color: #fff;
  font: inherit;
  margin: 0;
  margin-inline-end: 0.5rem;
  padding: 0;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  text-align: center;
  width: auto;
}
input[type=file]::file-selector-button:focus {
  border-color: #00f;
  color: #fff;
  background: #f00;
}
input[type=file]:focus::file-selector-button {
  border-color: #00f;
  color: #fff;
  background: #f00;
}
input[type=image] {
  height: auto;
  padding: 0;
  width: auto;
}

input[id] + label[for],
input[id] + select[for],
details input[id] + summary[for],
input[id] + [for][role=button],
input[id] + button[for],
input[id] + input[for][type=button],
input[id] + input[for][type=reset],
input[id] + input[for][type=submit] {
  display: inline-block;
  vertical-align: middle;
}

label input + span,
select input + span,
details summary input + span,
[role=button] input + span,
[role=button]:any-link input + span,
button input + span,
input[type=button] input + span,
input[type=reset] input + span,
input[type=submit] input + span {
  display: inline-block;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

::-moz-color-swatch {
  border: 0;
}

::-webkit-color-swatch {
  border: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

textarea {
  font-family: monospace;
  height: auto;
  line-height: inherit;
  padding-bottom: 0.35rem;
  padding-top: 0.35rem;
  resize: vertical;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[aria-current],
[aria-disabled] {
  color: inherit;
}

[role=alert] {
  background: #ffa;
  color: #000;
  padding: 1rem 1.5rem;
}