* {
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

:where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  hgroup > p,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul):not(:last-child) {
  margin-bottom: 1.5rem;
}

li > :where(address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  hgroup > p,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  p,
  pre,
  search,
  section,
  table):first-child {
  margin-top: 1.5rem;
}

:root {
  background: #fff;
  border: 0 solid #000;
  border-width: 5px 0 0;
  color: #000;
  font: normal normal 18px/1.5 serif;
  padding: 1.5rem;
  text-align: left;
}

a,
[role=link],
details summary {
  color: #00f;
}
a:focus,
[role=link]:focus,
details summary:focus {
  color: #f00;
}

abbr {
  cursor: help;
}

b,
legend,
strong,
th {
  font-weight: bold;
}

i,
dfn,
em,
var {
  font-style: italic;
}

s,
del,
[role=deletion] {
  text-decoration: line-through;
}

u,
ins,
[role=insertion] {
  text-decoration: underline;
}

blockquote {
  border-inline-start: 5px solid #eee;
  font-size: 1.185rem;
  padding-inline-start: 1.5rem;
}

caption,
figcaption {
  color: #555;
  margin: 1rem 0 0;
  text-align: center;
}

code {
  background: #eee;
  display: inline-block;
  font-family: monospace;
  font-size: 0.8em;
  padding: 0 0.35em;
}

dl,
ol,
ul {
  margin-left: 1.5rem;
}

fieldset {
  border: 1px solid;
  padding: 1.5rem;
}

figure {
  text-align: center;
}
figure audio,
figure iframe,
figure img,
figure video {
  border: 1px solid;
  display: block;
}

/* <https://www.modularscale.com/?16&px&1.25> */
h1 {
  font-size: 3.815em;
}

h2 {
  font-size: 3.052em;
}

h3 {
  font-size: 2.441em;
}

h4 {
  font-size: 1.953em;
}

h5,
hgroup > p {
  font-size: 1.563em;
}

h6,
dt {
  font-size: 1.25em;
}

hgroup > p {
  color: #555;
}

hr {
  border: 0;
  border-top: 2px dashed #eee;
}

iframe {
  border: 0;
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

kbd {
  background: #ccc;
  border: 2px outset;
  display: inline-block;
  padding: 0 0.35rem;
}

label,
select,
button,
[role=button],
input[type=button],
input[type=reset],
input[type=submit],
details summary {
  cursor: pointer;
  user-select: none;
}

legend {
  color: #555;
  padding: 0 0.5rem;
}

mark,
[role=mark] {
  background: #ff0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
nav a,
nav [role=link],
nav details summary,
details nav summary {
  display: block;
  padding: 0 0.5rem;
}
nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style: decimal;
}

pre code {
  display: block;
  overflow: auto;
  padding: 0.75rem 1rem;
  white-space: pre-wrap;
}

small,
sub,
sup {
  font-size: 0.8em;
}

sub,
sup {
  line-height: 0;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

svg {
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
table caption {
  caption-side: bottom;
}
table th,
table td {
  border: 1px solid;
  padding: 0.5rem 0.65rem;
  vertical-align: top;
}
table th {
  background: #eee;
}

ul {
  list-style: disc;
}

audio,
video {
  background: #000;
  display: block;
  height: auto;
  width: 100%;
}

button,
[role=button],
input,
output,
select,
textarea {
  accent-color: #000;
  background: #fff;
  border: 2px solid #000;
  display: inline-block;
  height: 2.25rem;
  line-height: calc(2.25rem - 4px);
  /* Minus the `border-width` */
  outline: 0;
  padding: 0 0.5rem;
  position: relative;
  vertical-align: middle;
  width: 18.5rem;
}
button:focus,
[role=button]:focus,
input:focus,
output:focus,
select:focus,
textarea:focus {
  border-color: #00f;
}

button::-moz-focus-inner,
[role=button]::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

button,
[role=button],
input[type=button],
input[type=reset],
input[type=submit] {
  background: #000;
  border-color: #000;
  color: #fff;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  text-align: center;
  width: auto;
}
button:focus,
[role=button]:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  background: #00f;
}

button[role=link],
[role=link][role=button],
input[type=button][role=link],
input[type=reset][role=link],
input[type=submit][role=link] {
  background: 0 0;
  border-color: transparent;
  color: #00f;
}
button[role=link]:focus,
[role=link][role=button]:focus,
input[type=button][role=link]:focus,
input[type=reset][role=link]:focus,
input[type=submit][role=link]:focus {
  background: 0 0;
  border-color: #00f;
  color: #00f;
}

input[type=image],
input[type=range] {
  background: 0 0;
  border: 0;
}
input[type=checkbox],
input[type=color],
input[type=file],
input[type=image],
input[type=radio],
input[type=range] {
  cursor: pointer;
}
input[type=checkbox],
input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  padding: 0;
  width: 1.5rem;
}
input[type=checkbox]:not(:checked)::after,
input[type=radio]:not(:checked)::after {
  visibility: hidden;
}
input[type=checkbox]::after {
  border: 0 solid #000;
  border-width: 0 3px 3px 0;
  bottom: 4px;
  content: "";
  left: 9px;
  position: absolute;
  right: 5px;
  top: 3px;
  transform: rotate(45deg) translate(-2px, 1px);
}
input[type=checkbox]:focus::after {
  border-color: #00f;
}
input[type=radio] {
  border-radius: 100%;
}
input[type=radio]::after {
  background: #000;
  border-radius: 100%;
  bottom: 4px;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
}
input[type=radio]:focus::after {
  background: #00f;
}
input[type=color] {
  height: 2.25rem;
  padding: 4px;
  width: 2.25rem;
}
input[type=file] {
  padding-inline-start: 0;
}
input[type=file]::file-selector-button {
  background: #000;
  border: 0 solid #000;
  border-inline-end-width: 2px;
  box-sizing: border-box;
  color: #fff;
  font: inherit;
  margin: 0;
  margin-inline-end: 0.5rem;
  padding: 0;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  text-align: center;
  width: auto;
}
input[type=file]::file-selector-button:focus {
  background: #00f;
}
input[type=file]:focus::file-selector-button {
  background: #00f;
  border-color: #00f;
}
input[type=image] {
  height: auto;
  padding: 0;
  width: auto;
}
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  padding-left: 0;
  padding-right: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #000;
  border: 0;
  height: 2px;
  overflow: visible;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #000;
  border-radius: 0;
  border: 2px solid #000;
  height: calc(1.5rem + 2px);
  margin-top: -0.75rem;
  width: 0.5rem;
}
input[type=range]::-moz-range-track {
  background: #000;
  border: 0;
  height: 2px;
}
input[type=range]::-moz-range-thumb {
  background: #000;
  border-radius: 0;
  border: 2px solid #000;
  height: calc(1.5rem + 2px);
  margin-top: -0.75rem;
  width: 0.5rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00f;
}
input[type=range]:focus::-webkit-slider-thumb {
  background: #00f;
}
input[type=range]:focus::-moz-range-track {
  background: #00f;
}
input[type=range]:focus::-moz-range-thumb {
  background: #00f;
}

input[id] + label[for],
input[id] + select[for],
details input[id] + summary[for],
input[id] + button[for],
input[id] + [for][role=button],
input[id] + input[for][type=button],
input[id] + input[for][type=reset],
input[id] + input[for][type=submit] {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
}

label input + span,
select input + span,
details summary input + span,
button input + span,
[role=button] input + span,
input[type=button] input + span,
input[type=reset] input + span,
input[type=submit] input + span {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
  appearance: none;
}
select[multiple] {
  height: auto;
  line-height: 1;
  padding-bottom: 0.45rem;
  padding-top: 0.45rem;
}

::-moz-color-swatch {
  border: 0;
}

::-webkit-color-swatch {
  border: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

textarea {
  font-family: monospace;
  height: auto;
  line-height: inherit;
  min-height: 9.25rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  resize: vertical;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[aria-current],
[aria-disabled] {
  color: inherit;
}
[aria-current]:focus,
[aria-disabled]:focus {
  color: inherit;
}

[role=alert],
[role=note] {
  background: #ffc;
  padding: 0.75rem 1rem;
}

[role=group] {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
[role=group][aria-orientation=vertical] {
  flex-direction: column;
}

[role=link] {
  cursor: pointer;
}

[role=note] {
  background: #fed;
}

@media (max-width: 700px) {
  :root {
    font-size: 14px;
  }
}