@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
:where([role=heading], h1, h2, h3, h4, h5, h6)[id] {
  align-items: center;
  display: flex;
  gap: 0.25em;
}
:where([role=heading], h1, h2, h3, h4, h5, h6)[id]:target {
  background: #ff0;
}
:where([role=heading], h1, h2, h3, h4, h5, h6)[id] > a[aria-hidden=true][href^="#"]:empty::after {
  content: "#";
}