html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Navigation
    link(href='../index.min.css?v=2' rel='stylesheet')
    style
      | @media (min-width: 45rem) {
      |   :root {
      |     padding-bottom: 3rem;
      |     padding-top: 3rem;
      |   }
      |   body > * {
      |     margin-left: auto;
      |     margin-right: auto;
      |     max-width: 45rem;
      |   }
      | }
  body
    main
      nav
        ul
          li: a(href='..') Home
          li: a(href='../form') Form
          li: a(href='../links') Links
          li: a(aria-current='page' href='') List
          li: a(href='../table') Table
      h1 List
      h2 Simple #1
      ul
        li List item 1
        li List item 2
        li List item 3
      h2 Simple #2
      ul
        li: p List item 1
        li: p List item 2
        li: p List item 3
      h2 Simple #3
      dl
        dt Term item 1
        dd Definition list item 1.
        dt Term item 2
        dd Definition list item 2.
        dt Term item 3
        dd Definition list item 3.
      h2 Complex #1
      ul
        li List item 1
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo dui.
            li Curabitur dictum, risus sed malesuada bibendum, velit enim lobortis eros, id fermentum justo purus eu mauris.
            li Cras porta varius accumsan. Aenean libero orci, vestibulum id eros sed, fringilla faucibus ex. Aliquam sollicitudin convallis enim, at vestibulum mi vulputate id.
        li
          a(href='') List item 2
          ul
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo dui.
            li Curabitur dictum, risus sed malesuada bibendum, velit enim lobortis eros, id fermentum justo purus eu mauris.
            li Cras porta varius accumsan. Aenean libero orci, vestibulum id eros sed, fringilla faucibus ex. Aliquam sollicitudin convallis enim, at vestibulum mi vulputate id.
        li Nullam id risus facilisis, tincidunt dolor feugiat, condimentum ligula. Donec quis tempus lectus, a porttitor elit. Donec sed maximus diam, nec ullamcorper metus. Ut eget maximus purus.
      h2 Complex #2
      ul
        li
          p List item 1
        li
          p
            a(href='') List item 2
          ul
            li: p List item 2.1
            li
              p List item 2.2
            li: p List item 2.3
        li: p List item 3
      h2 Complex #3
      ul
        li
          p List item 1
        li
          p List item 2
          ul
            li
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo dui. Morbi molestie ligula in orci varius placerat. Nulla sit amet dui lectus. Mauris gravida fringilla ligula at sodales. Maecenas justo arcu, tempus eget augue vitae, porttitor malesuada libero. Mauris sit amet mattis metus, a rhoncus velit. Phasellus lobortis cursus arcu vel mollis. Vivamus rutrum ut mauris eget condimentum. Proin gravida dui ac velit laoreet semper. Nulla ultrices lobortis varius.
            li
              p Curabitur dictum, risus sed malesuada bibendum, velit enim lobortis eros, id fermentum justo purus eu mauris. Praesent dapibus eu lacus et ullamcorper. Aliquam eget dui eget neque gravida rhoncus. Suspendisse dapibus auctor luctus. Aenean tristique, mi quis auctor convallis, neque arcu mattis sapien, ut imperdiet nibh tortor sit amet ligula. Donec eget neque at erat scelerisque aliquam malesuada sed urna. Ut consequat lorem odio, sit amet euismod nulla tempor at. Vivamus tincidunt, lorem vitae vehicula posuere, quam mi feugiat tellus, nec ornare velit leo vestibulum eros. Suspendisse id dictum tortor. Praesent porta, quam et tempor pretium, leo eros consequat elit, eu porta purus nulla ut arcu. Ut tempor ut dolor vitae dictum. Donec mi turpis, efficitur quis faucibus sed, malesuada ac magna. Nullam commodo efficitur enim non semper. Maecenas non tellus eget sapien consectetur mattis. Phasellus bibendum nibh non mauris lacinia, non euismod tortor tempor. Aliquam erat volutpat.
              p Donec vel nibh mi. Sed condimentum, dui nec aliquet dignissim, mauris turpis sodales odio, vestibulum efficitur quam elit vel dolor. Phasellus porttitor sed nulla eget tristique. Duis molestie convallis mi, vel pharetra orci auctor ut. Ut massa enim, gravida in blandit at, sollicitudin sed nunc. Cras non faucibus lacus, vitae pretium lorem. Morbi mollis vehicula risus nec fringilla.
            li
              p List item 2.3
        li
          p Cras porta varius accumsan. Aenean libero orci, vestibulum id eros sed, fringilla faucibus ex. Aliquam sollicitudin convallis enim, at vestibulum mi vulputate id. Nulla id nisl commodo, tincidunt eros nec, semper est. Fusce consequat rhoncus risus, id molestie nibh fringilla vel. Nullam varius neque quis neque fermentum luctus. In eu lectus at sem mollis imperdiet. Pellentesque iaculis imperdiet enim, placerat tristique nibh gravida at. Mauris quis sem convallis, ullamcorper mauris non, sodales nibh. Etiam tristique volutpat placerat. In enim purus, laoreet sit amet mollis ac, sodales eu leo. Praesent accumsan posuere scelerisque.
          p Nullam id risus facilisis, tincidunt dolor feugiat, condimentum ligula. Donec quis tempus lectus, a porttitor elit. Donec sed maximus diam, nec ullamcorper metus. Ut eget maximus purus. Donec volutpat, tortor sit amet faucibus suscipit, metus ligula rhoncus felis, a luctus orci nulla at erat. Nulla lorem quam, congue vitae congue sit amet, accumsan at sem. Fusce scelerisque metus id nibh consequat pellentesque.
      h2 Complex #4
      dl
        dt Term item 1
        dd
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo dui. Morbi molestie ligula in orci varius placerat. Nulla sit amet dui lectus. Mauris gravida fringilla ligula at sodales. Maecenas justo arcu, tempus eget augue vitae, porttitor malesuada libero. Mauris sit amet mattis metus, a rhoncus velit. Phasellus lobortis cursus arcu vel mollis. Vivamus rutrum ut mauris eget condimentum. Proin gravida dui ac velit laoreet semper. Nulla ultrices lobortis varius.
        dt Term item 2
        dd
          p Curabitur dictum, risus sed malesuada bibendum, velit enim lobortis eros, id fermentum justo purus eu mauris. Praesent dapibus eu lacus et ullamcorper. Aliquam eget dui eget neque gravida rhoncus. Suspendisse dapibus auctor luctus. Aenean tristique, mi quis auctor convallis, neque arcu mattis sapien, ut imperdiet nibh tortor sit amet ligula. Donec eget neque at erat scelerisque aliquam malesuada sed urna. Ut consequat lorem odio, sit amet euismod nulla tempor at. Vivamus tincidunt, lorem vitae vehicula posuere, quam mi feugiat tellus, nec ornare velit leo vestibulum eros. Suspendisse id dictum tortor. Praesent porta, quam et tempor pretium, leo eros consequat elit, eu porta purus nulla ut arcu. Ut tempor ut dolor vitae dictum. Donec mi turpis, efficitur quis faucibus sed, malesuada ac magna. Nullam commodo efficitur enim non semper. Maecenas non tellus eget sapien consectetur mattis. Phasellus bibendum nibh non mauris lacinia, non euismod tortor tempor. Aliquam erat volutpat.
          p Donec vel nibh mi. Sed condimentum, dui nec aliquet dignissim, mauris turpis sodales odio, vestibulum efficitur quam elit vel dolor. Phasellus porttitor sed nulla eget tristique. Duis molestie convallis mi, vel pharetra orci auctor ut. Ut massa enim, gravida in blandit at, sollicitudin sed nunc. Cras non faucibus lacus, vitae pretium lorem. Morbi mollis vehicula risus nec fringilla.
        dt Term item 3
        dd
          p Cras porta varius accumsan. Aenean libero orci, vestibulum id eros sed, fringilla faucibus ex. Aliquam sollicitudin convallis enim, at vestibulum mi vulputate id. Nulla id nisl commodo, tincidunt eros nec, semper est. Fusce consequat rhoncus risus, id molestie nibh fringilla vel. Nullam varius neque quis neque fermentum luctus. In eu lectus at sem mollis imperdiet. Pellentesque iaculis imperdiet enim, placerat tristique nibh gravida at. Mauris quis sem convallis, ullamcorper mauris non, sodales nibh. Etiam tristique volutpat placerat. In enim purus, laoreet sit amet mollis ac, sodales eu leo. Praesent accumsan posuere scelerisque.
          p Nullam id risus facilisis, tincidunt dolor feugiat, condimentum ligula. Donec quis tempus lectus, a porttitor elit. Donec sed maximus diam, nec ullamcorper metus. Ut eget maximus purus. Donec volutpat, tortor sit amet faucibus suscipit, metus ligula rhoncus felis, a luctus orci nulla at erat. Nulla lorem quam, congue vitae congue sit amet, accumsan at sem. Fusce scelerisque metus id nibh consequat pellentesque.