html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Anchor
    link(href='../index.min.css?v=%(version)' rel='stylesheet')
    link(href='index.min.css?v=%(version)' rel='stylesheet')
    style
      | @media (min-width: 45rem) {
      |   :root {
      |     padding-bottom: 3rem;
      |     padding-top: 3rem;
      |   }
      |   body > * {
      |     margin-left: auto;
      |     margin-right: auto;
      |     max-width: 45rem;
      |   }
      | }
  body
    main
      nav
        ul
          li: a(href='..') Home
          li: a(aria-current='page' href='') Anchor
          li: a(href='../form') Form
          li: a(href='../links') Links
          li: a(href='../list') List
          li: a(href='../table') Table
      h1 Anchor
      div(role='note')
        p This feature is optional. You will need to manually include the CSS file after the core CSS file:
        pre: code
          | &lt;link href="#[a(href='../index.min.css' target='_blank') ./index.min.css]" rel="stylesheet"&gt;
          | &lt;link href="#[a(href='index.min.css' target='_blank') ./anchor/index.min.css]" rel="stylesheet"&gt;
        pre: code
          | &lt;h2 id="anchor-1"&gt;
          |   &lt;a aria-hidden="true" href="#anchor-1"&gt;#&lt;/a&gt;
          |   Anchor 1
          | &lt;/h2&gt;
      h2#anchor-1
        a(aria-hidden='true' href='#anchor-1')
        = ' Anchor 1'
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo dui. Morbi molestie ligula in orci varius placerat. Nulla sit amet dui lectus. Mauris gravida fringilla ligula at sodales. Maecenas justo arcu, tempus eget augue vitae, porttitor malesuada libero. Mauris sit amet mattis metus, a rhoncus velit. Phasellus lobortis cursus arcu vel mollis. Vivamus rutrum ut mauris eget condimentum. Proin gravida dui ac velit laoreet semper. Nulla ultrices lobortis varius.
      h2#anchor-2
        a(aria-hidden='true' href='#anchor-2') &sect;
        = ' Anchor 2 (Custom)'
      p Curabitur dictum, risus sed malesuada bibendum, velit enim lobortis eros, id fermentum justo purus eu mauris. Praesent dapibus eu lacus et ullamcorper. Aliquam eget dui eget neque gravida rhoncus. Suspendisse dapibus auctor luctus. Aenean tristique, mi quis auctor convallis, neque arcu mattis sapien, ut imperdiet nibh tortor sit amet ligula. Donec eget neque at erat scelerisque aliquam malesuada sed urna. Ut consequat lorem odio, sit amet euismod nulla tempor at. Vivamus tincidunt, lorem vitae vehicula posuere, quam mi feugiat tellus, nec ornare velit leo vestibulum eros. Suspendisse id dictum tortor. Praesent porta, quam et tempor pretium, leo eros consequat elit, eu porta purus nulla ut arcu. Ut tempor ut dolor vitae dictum. Donec mi turpis, efficitur quis faucibus sed, malesuada ac magna. Nullam commodo efficitur enim non semper. Maecenas non tellus eget sapien consectetur mattis. Phasellus bibendum nibh non mauris lacinia, non euismod tortor tempor. Aliquam erat volutpat.
      p Donec vel nibh mi. Sed condimentum, dui nec aliquet dignissim, mauris turpis sodales odio, vestibulum efficitur quam elit vel dolor. Phasellus porttitor sed nulla eget tristique. Duis molestie convallis mi, vel pharetra orci auctor ut. Ut massa enim, gravida in blandit at, sollicitudin sed nunc. Cras non faucibus lacus, vitae pretium lorem. Morbi mollis vehicula risus nec fringilla.
      p(style={'height': '1000px'})