:where([role='heading'], h1, h2, h3, h4, h5, h6) {
  &[id] {
    align-items: center;
    display: flex;
    gap: 0.25em;
    &:target {
      background: #ff0;
    }
    > a {
      &[aria-hidden='true'] {
        &[href^='#'] {
          &:empty {
            &::after {
              content: '#';
            }
          }
        }
      }
    }
  }
}