$color-alert: inherit !default;
$color-button--focus: #fff !default;
$color-button: #fff !default;
$color-caption: #555 !default;
$color-code: inherit !default;
$color-input--focus: inherit !default;
$color-input: inherit !default;
$color-kbd: inherit !default;
$color-link--focus: #f00 !default;
$color-link: #00f !default;
$color-mark: inherit !default;
$color-note: inherit !default;
$color-quote: inherit !default;
$color: #000 !default;
$fill-alert: #ffc !default;
$fill-button--focus: #00f !default;
$fill-button: #000 !default;
$fill-code: #eee !default;
$fill-input: #fff !default;
$fill-kbd: #ccc !default;
$fill-mark: #ff0 !default;
$fill-note: #fed !default;
$fill-th: #eee !default;
$fill: #fff !default;
$stroke-button--focus: #000 !default;
$stroke-button: #000 !default;
$stroke-hr: #eee !default;
$stroke-input--focus: #00f !default;
$stroke-input: #000 !default;
$stroke-quote: #eee !default;
$stroke: #000 !default;

*,
::after,
::before {
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

:where(
  address,
  article,
  aside,
  blockquote,
  dd,
  details,
  div,
  dl,
  dt,
  fieldset,
  figure,
  footer,
  form,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header,
  hgroup,
  hr,
  main,
  nav,
  ol,
  p,
  pre,
  search,
  section,
  table,
  ul
):where(:not(:last-child)) {
  margin-bottom: 1.5rem;
}

li {
  &:where(:not(:first-child)) {
    > :where(
      address,
      article,
      aside,
      blockquote,
      dd,
      details,
      div,
      dl,
      dt,
      fieldset,
      figure,
      footer,
      form,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header,
      hgroup,
      hr,
      main,
      nav,
      p,
      pre,
      search,
      section,
      table
    ):where(:first-child) {
      margin-top: 1.5rem;
    }
  }
}

:root {
  background: $fill;
  border: 0 solid $stroke;
  border-width: 5px 0 0;
  @if $color != inherit {
    color: $color;
  }
  font: normal normal 18px/1.5 serif;
  padding: 1.5rem;
  text-align: left;
}

a {
  @if $color-link != inherit {
    color: $color-link;
  }
  &:focus {
    @if $color-link--focus != $color-link {
      color: $color-link--focus;
    }
  }
}

abbr {
  cursor: help;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

q {
  @if $color-quote != inherit {
    color: $color-quote;
  }
}

s {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

legend,
strong,
th {
  @extend b;
}

blockquote {
  @extend q;
  border: {
    inline-start: 5px solid $stroke-quote;
  }
  font-size: 1.185rem;
  padding: {
    inline-start: 1.5rem;
  }
}

caption,
figcaption {
  @if $color-caption != inherit {
    color: $color-caption;
  }
  margin: 1rem 0 0;
  text-align: center;
}

code {
  background: $fill-code;
  @if $color-code != inherit {
    color: $color-code;
  }
  display: inline-block;
  font-family: monospace;
  font-size: 0.8em;
  padding: 0 0.35em;
}

del {
  @extend s;
}

details {
  summary {
    @extend a, label;
  }
  &[open] {
    > summary {
      margin-bottom: 1.5rem;
    }
  }
}

dfn,
em,
var {
  @extend i;
}

dl,
ol,
ul {
  margin: {
    left: 1.5rem;
  }
}

fieldset {
  border: 1px solid;
  padding: 1.5rem;
}

figure {
  text-align: center;
  audio,
  iframe,
  img,
  video {
    border: 1px solid;
    display: block;
    margin: 0 auto;
  }
}

/* <https://www.modularscale.com/?16&px&1.25> */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}
h1 {
  font-size: 3.815em;
}
h2 {
  font-size: 3.052em;
}
h3 {
  font-size: 2.441em;
}
h4 {
  font-size: 1.953em;
}
h5 {
  font-size: 1.563em;
}
h6 {
  font-size: 1.25em;
}

hgroup {
  > p {
    @extend h5;
    @if $color-caption != inherit {
      color: $color-caption;
    }
  }
}

hr {
  border: 0;
  border-top: 2px dashed $stroke-hr;
}

dt {
  @extend h6;
}

iframe {
  border: 0;
  display: block;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

ins {
  @extend u;
}

kbd {
  background: $fill-kbd;
  border: 2px outset;
  @if $color-kbd != inherit {
    color: $color-kbd;
  }
  display: inline-block;
  padding: 0 0.35rem;
}

label {
  cursor: pointer;
  user-select: none;
}

legend {
  @if $color-caption != inherit {
    color: $color-caption;
  }
  padding: 0 0.5rem;
}

mark {
  background: $fill-mark;
  @if $color-mark != inherit {
    color: $color-mark;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  a {
    display: block;
    padding: 0 0.5rem;
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

ol {
  list-style: decimal;
}

pre {
  code {
    display: block;
    overflow: auto;
    padding: 0.75rem 1rem;
    white-space: pre-wrap;
  }
}

small,
sub,
sup {
  font-size: 0.8em;
}

sub, sup {
  line-height: 0;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

svg {
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  caption {
    caption-side: bottom;
  }
  th,
  td {
    border: 1px solid;
    padding: 0.5rem 0.65rem;
    vertical-align: top;
  }
  th {
    background: $fill-th;
  }
}

ul {
  list-style: disc;
}

audio,
video {
  @if $color != inherit {
    background: $color;
  }
  display: block;
  height: auto;
  width: 100%;
}

button,
input,
output,
select,
textarea {
  accent-color: $fill-button;
  background: $fill-input;
  border: 2px solid $stroke-input;
  @if $color-input != inherit {
    color: $color-input;
  }
  display: inline-block;
  height: 2.25rem;
  line-height: calc(2.25rem - 4px); /* Minus the `border-width` */
  outline: 0;
  padding: 0 0.5rem;
  position: relative;
  vertical-align: middle;
  width: 18.5rem;
  &:focus {
    @if $stroke-input--focus != $stroke-input {
      border-color: $stroke-input--focus;
    }
    @if $color-input--focus != $color-input {
      color: $color-input--focus;
    }
  }
}

button,
input {
  &::-moz-focus-inner {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @extend label;
  background: $fill-button;
  border-color: $stroke-button;
  @if $color-button != inherit {
    color: $color-button;
  }
  padding: {
    left: 0.65rem;
    right: 0.65rem;
  }
  text-align: center;
  width: auto;
  &:focus {
    @if $fill-button--focus != $fill-button {
      background: $fill-button--focus;
    }
    // @if $stroke-button--focus != $stroke-button {
      border-color: $stroke-button--focus;
    // }
    // @if $color-button--focus != $color-button {
      color: $color-button--focus;
    // }
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  &[role='link'] {
    background: 0 0;
    border-color: transparent;
    @if $color-link != inherit {
      color: $color-link;
    }
    &:focus {
      background: 0 0;
      @if $color-link != inherit {
        border-color: $color-link;
        color: $color-link;
      }
    }
  }
}

input {
  &[type='image'],
  &[type='range'] {
    background: 0 0;
    border: 0;
  }
  &[type='checkbox'],
  &[type='color'],
  &[type='file'],
  &[type='image'],
  &[type='radio'],
  &[type='range'] {
    cursor: pointer;
  }
  &[type='checkbox'],
  &[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    height: 1.5rem;
    padding: 0;
    width: 1.5rem;
    &:not(:checked) {
      &::after {
        visibility: hidden;
      }
    }
  }
  &[type='checkbox'] {
    &::after {
      border: 0 solid $fill-button;
      border-width: 0 3px 3px 0;
      bottom: 4px;
      content: "";
      left: 9px;
      position: absolute;
      right: 5px;
      top: 3px;
      transform: rotate(45deg) translate(-2px, 1px);
    }
    &:focus {
      &::after {
        @if $fill-button--focus != $fill-button {
          border-color: $fill-button--focus;
        }
      }
    }
  }
  &[type='radio'] {
    border-radius: 100%;
    &::after {
      background: $fill-button;
      border-radius: 100%;
      bottom: 4px;
      content: "";
      left: 4px;
      position: absolute;
      right: 4px;
      top: 4px;
    }
    &:focus {
      &::after {
        @if $fill-button--focus != $fill-button {
          background: $fill-button--focus;
        }
      }
    }
  }
  &[type='color'] {
    height: 2.25rem;
    padding: 4px;
    width: 2.25rem;
  }
  &[type='file'] {
    padding: {
      inline-start: 0;
    }
    &::file-selector-button {
      background: $fill-button;
      border: 0 solid $stroke-input;
      border-inline-end-width: 2px;
      box-sizing: border-box;
      @if $color-button != inherit {
        color: $color-button;
      }
      font: inherit;
      margin: 0;
      margin: {
        inline-end: 0.5rem;
      }
      padding: 0;
      padding: {
        left: 0.65rem;
        right: 0.65rem;
      }
      text-align: center;
      width: auto;
      &:focus {
        @if $fill-button--focus != $fill-button {
          background: $fill-button--focus;
        }
        // @if $color-button--focus != $color-button {
          color: $color-button--focus;
        // }
      }
    }
    &:focus {
      &::file-selector-button {
        @if $fill-button--focus != $fill-button {
          background: $fill-button--focus;
        }
        // @if $stroke-input--focus != $stroke-input {
          border-color: $stroke-input--focus;
        // }
        // @if $color-button--focus != $color-button {
          color: $color-button--focus;
        // }
      }
    }
  }
  &[type='image'] {
    height: auto;
    padding: 0;
    width: auto;
  }
  &[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    padding: {
      left: 0;
      right: 0;
    }
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background: $stroke-input;
      border: 0;
      height: 2px;
      overflow: visible;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: $fill-button;
      border-radius: 0;
      border: 2px solid $stroke-button;
      height: calc(1.5rem + 2px);
      margin-top: -0.75rem;
      width: 0.5rem;
    }
    &::-moz-range-track {
      background: $stroke-input;
      border: 0;
      height: 2px;
    }
    &::-moz-range-thumb {
      background: $fill-button;
      border-radius: 0;
      border: 2px solid $stroke-button;
      height: calc(1.5rem + 2px);
      margin-top: -0.75rem;
      width: 0.5rem;
    }
    &:focus {
      &::-webkit-slider-runnable-track {
        @if $stroke-input--focus != $stroke-input {
          background: $stroke-input--focus;
        }
      }
      &::-webkit-slider-thumb {
        @if $fill-button--focus != $fill-button {
          background: $fill-button--focus;
        }
        @if $stroke-button--focus != $stroke-button {
          border-color: $stroke-button--focus;
        }
      }
      &::-moz-range-track {
        @if $stroke-input--focus != $stroke-input {
          background: $stroke-input--focus;
        }
      }
      &::-moz-range-thumb {
        @if $fill-button--focus != $fill-button {
          background: $fill-button--focus;
        }
        @if $stroke-button--focus != $stroke-button {
          border-color: $stroke-button--focus;
        }
      }
    }
  }
}

// `<input id="radio" type="radio"> <label for="radio">Radio</label>`
input[id] {
  + label[for] {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
  }
}

// `<label><input type="radio"> <span>Radio</span></label>`
label {
  input {
    + span {
      display: inline-block;
      margin-left: 0.5em;
      vertical-align: middle;
    }
  }
}

select {
  @extend label;
  -webkit-appearance: none;
  appearance: none;
  &[multiple] {
    height: auto;
    line-height: 1;
    padding: {
      bottom: 0.45rem;
      top: 0.45rem;
    }
  }
}

::-moz-color-swatch {
  border: 0;
}

::-webkit-color-swatch {
  border: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

textarea {
  font-family: monospace;
  height: auto;
  line-height: inherit;
  min-height: 9.25rem;
  padding: {
    bottom: 0.25rem;
    top: 0.25rem;
  }
  resize: vertical;
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

[aria-current],
[aria-disabled] {
  color: inherit;
  &:focus {
    color: inherit;
  }
}

[role='alert'] {
  background: $fill-alert;
  @if $color-alert != inherit {
    color: $color-alert;
  }
  padding: 0.75rem 1rem;
}

[role='button'] {
  @extend button;
}

[role='deletion'] {
  @extend del;
}

[role='group'] {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  &[aria-orientation='vertical'] {
    flex-direction: column;
  }
}

[role='insertion'] {
  @extend ins;
}

[role='link'] {
  @extend a;
  cursor: pointer;
}

[role='mark'] {
  @extend mark;
}

[role='note'] {
  @extend [role='alert'];
  background: $fill-note;
  @if $color-note != inherit {
    color: $color-note;
  }
}

@media (max-width: 700px) {
  :root {
    font-size: 14px;
  }
}