html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Home
    link(href='index.min.css' rel='stylesheet')
    style
      | @media (min-width: 45rem) {
      |   :root {
      |     padding-bottom: 3rem;
      |     padding-top: 3rem;
      |   }
      |   body > * {
      |     margin-left: auto;
      |     margin-right: auto;
      |     max-width: 45rem;
      |   }
      | }
  body
    p(role='alert') Do you like this project? Please support my #[a(href='https://github.com/mecha-cms') Mecha CMS] project too. Thank you!
    main
      nav
        ul
          li: a(aria-current='page' href='') Home
          li: a(href='form') Form
      h1 Home
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor justo luctus, varius lorem sed, molestie massa. Ut et justo finibus, pharetra magna fermentum, rhoncus mauris. In et nulla eu nisl lobortis commodo in sed justo. Quisque iaculis odio a nulla faucibus dictum nec ac risus. Aliquam finibus, ex sit amet laoreet gravida, lacus nisl tincidunt turpis, a vestibulum dui purus a dolor. Aliquam eu urna at felis feugiat faucibus ut non mi. Quisque cursus nisi vitae maximus auctor.
      blockquote
        p Donec feugiat magna eleifend enim porttitor, aliquet bibendum diam aliquam. Mauris sollicitudin, libero in efficitur blandit, dolor ligula ornare libero, non sagittis nibh diam id tortor. Maecenas sollicitudin justo sit amet urna vulputate, et interdum erat finibus. Fusce in consequat diam. Nulla mi tellus, condimentum et ligula eget, malesuada lacinia ante. Proin eu lacus eget metus tempus gravida.
      p Fusce erat lectus, auctor eu lacinia eget, molestie at sapien. Nulla dignissim tortor a massa sagittis, id dictum ligula mattis. Duis ac tortor commodo, blandit sem quis, pulvinar neque.
      h1 Heading 1
      h2 Heading 2
      h3 Heading 3
      h4 Heading 4
      h5 Heading 5
      h6 Heading 6
      p Paragraph
      p: small Small
      p Suspendisse in sagittis purus, at lobortis tortor. Donec faucibus, urna eget volutpat mollis, ligula erat tincidunt neque, sit amet pharetra libero metus at mauris. Aliquam metus neque, pellentesque id euismod vel, fermentum et nisl. Sed vulputate ipsum dapibus augue sollicitudin cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus bibendum pulvinar ipsum ut condimentum. Ut vitae rutrum leo.
      hr
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor justo luctus, varius lorem sed, molestie massa. Ut et justo finibus, pharetra magna fermentum, rhoncus mauris. In et nulla eu nisl lobortis commodo in sed justo. Quisque iaculis odio a nulla faucibus dictum nec ac risus. Aliquam finibus, ex sit amet laoreet gravida, lacus nisl tincidunt turpis, a vestibulum dui purus a dolor. Aliquam eu urna at felis feugiat faucibus ut non mi. Quisque cursus nisi vitae maximus auctor.
      p Lorem #[strong bold] ipsum dolor #[em italic] sit amet, #[small small] consectetuer #[code code] adipiscing elit, sed diam #[abbr(title='Yo!') abbr] nonummy #[a(href='#') link] nibh euismod #[mark mark] tincidunt ut laoreet #[kbd kbd] dolore magna aliquam erat volutpat. Ut wisi #[del del] enim #[ins ins] ad minim veniam, quis nostrud H#[sub 2]O exerci tation 10#[sup 2] ullamcorper suscipit #[dfn dfn] lobortis nisl ut #[a(href='#') <svg viewBox="0 0 24 24"><path d="M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23Z"></path></svg> link] aliquip ex ea commodo <svg viewBox="0 0 24 24"><path d="M21.79 13L16 16l1 2l-4-.75V21h-2v-3.75L7 18l1-2l-5.79-3l1-1.73L1.61 8l3.6-.23l1-1.77l3.42 3.9L8 5h2l2-3l2 3h2l-1.63 4.9L17.79 6l1 1.73l3.6.23l-1.6 3.23Z"></path></svg> consequat.
      pre: code
        | function foo(bar = true) {
        |     return bar ?? 'baz';
        | }
      p Pellentesque at ante lobortis lorem scelerisque laoreet. Suspendisse porttitor ante erat, vitae semper tortor eleifend ac. Mauris odio massa, aliquet in purus nec, ultricies congue nulla. Morbi viverra tempor turpis, sed pretium turpis elementum eget. Nam id metus a sem feugiat varius vel vel orci. Pellentesque dignissim varius luctus.
      dl
        dt Lorem Ipsum
        dd Dolor sit amet, consectetuer adipiscing elit.
        dt Sed Diam Nonummy
        dd Nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        dt Ut Wisi Enim Ad Minim Veniam
        dd Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      table
        caption Table caption goes here.
        thead
          tr
            th Table Header 1
            th Table Header 2
            th Table Header 3
        tbody
          tr
            td Table Data 1.1
            td Table Data 1.2
            td Table Data 1.3
          tr
            td Table Data 2.1
            td Table Data 2.2
            td Table Data 2.3
          tr
            td Table Data 3.1
            td Table Data 3.2
            td Table Data 3.3
      p Donec blandit fermentum pharetra. Curabitur dui ex, ornare id urna vitae, lobortis lacinia nibh. Pellentesque non nunc sit amet felis fermentum vehicula. Donec ut purus malesuada massa ornare gravida. Donec hendrerit est sit amet sem consequat, eu sollicitudin mi imperdiet. Sed hendrerit vulputate ante in viverra. Maecenas in dignissim ex. Donec augue dolor, dignissim ut consequat a, varius eget justo. Suspendisse pretium leo eget orci venenatis dapibus.
      ol
        li List Item 1
        li List Item 2
        li List Item 3
          ol
            li List Item 3.1
            li List Item 3.2
            li List Item 3.3
        li List Item 4
      ul
        li List Item 1
        li List Item 2
        li List Item 3
          ul
            li List Item 3.1
            li List Item 3.2
            li List Item 3.3
        li List Item 4
      ol
        li List Item 1
        li List Item 2
        li List Item 3
          ul
            li List Item 3.1
              ol
                li List item 3.1.1
                li List item 3.1.2
                li List item 3.1.3
            li List Item 3.2
            li List Item 3.3
            li List Item 3.4
            li List Item 3.5
        li List Item 4
      p Fusce vulputate quam nunc, eget dignissim nulla molestie in. Praesent mattis finibus ante sit amet hendrerit. Donec a lacus eros. Mauris tellus ex, consectetur in massa nec, elementum vulputate quam. Nunc hendrerit tortor arcu, non lacinia augue efficitur eget. Quisque egestas aliquet odio, ultrices condimentum enim tristique a. Sed congue, ex ut pulvinar semper, libero mi vestibulum nisl, a sagittis lorem nisi sed nunc. Nam egestas congue auctor. Sed risus ligula, euismod at risus vulputate, tempor auctor lorem.
      p Mauris auctor, lectus quis condimentum hendrerit, erat diam mattis erat, tincidunt semper nibh lacus blandit metus. Vivamus iaculis risus a mauris faucibus, quis aliquam ante faucibus. Integer in nulla ac ex pulvinar aliquam quis id arcu. Quisque aliquet risus sed vehicula aliquet. Pellentesque eget elit a velit imperdiet accumsan. Praesent id felis ex. Nam risus felis, ultrices quis leo a, venenatis suscipit sapien.
      p
        video(controls)
          source(src='video.mp4' type='video/mp4')
          source(src='video.webm' type='video/webm')
          | Sorry, your browser does not support embedded videos.
      p
        audio(controls)
          source(src='audio.mp3' type='audio/mpeg')
          | Your browser does not support embedded audios.
      figure
        img(alt='900 × 300' loading='lazy' src='image.png')
        figcaption Image caption goes here.
      p Pellentesque libero neque, pellentesque vitae nibh nec, convallis ultrices odio. In bibendum semper viverra. Donec porta non lectus a convallis. Nunc in convallis augue. Mauris porta augue sed diam feugiat congue. Nunc risus sem, gravida sed mi eu, cursus gravida ipsum. Donec tellus leo, volutpat ut vehicula nec, vehicula non est. Aliquam felis lacus, sollicitudin id vulputate sit amet, mattis quis diam. Suspendisse elementum arcu ut augue posuere convallis.
      details
        summary Lorem ipsum dolor sit amet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor justo luctus, varius lorem sed, molestie massa. Ut et justo finibus, pharetra magna fermentum, rhoncus mauris. In et nulla eu nisl lobortis commodo in sed justo.
      p Pellentesque at ante lobortis lorem scelerisque laoreet. Suspendisse porttitor ante erat, vitae semper tortor eleifend ac. Mauris odio massa, aliquet in purus nec, ultricies congue nulla. Morbi viverra tempor turpis, sed pretium turpis elementum eget.