html(dir='ltr')
  head
    meta(charset='utf-8')
    meta(content='width=device-width' name='viewport')
    title Form
    link(href='../index.min.css?v=%(version)' rel='stylesheet')
    style
      | @media (min-width: 45rem) {
      |   :root {
      |     padding-bottom: 3rem;
      |     padding-top: 3rem;
      |   }
      |   body > * {
      |     margin-left: auto;
      |     margin-right: auto;
      |     max-width: 45rem;
      |   }
      | }
  body(spellcheck='false')
    main
      nav
        ul
          li: a(href='..') Home
          li: a(href='../anchor') Anchor
          li: a(aria-current='page' href='') Form
          li: a(href='../links') Links
          li: a(href='../list') List
          li: a(href='../table') Table
      h1 Form
      form
        fieldset
          legend Test Legend
          p text #[button Button] #[input(type='button' value='Input Button')] #[span(role='button' tabindex='0') Fake Button] #[a(href='#' role='button') Link as Button] text
          p text #[button(role='link') Button] #[input(role='link' type='button' value='Input Button')] text
          p text #[input(type='text')] text
          p
            ='text '
            select
              option Red
              option Green
              option Blue
            =' text'
          p
            ='text '
            select(multiple)
              option Red
              option Green
              option Blue
            =' text'
          p text #[input(type='color')] text
          p
            ='text '
            label
              input(type='checkbox')
              =' '
              span Check Box
            =' '
            label
              input(type='radio')
              =' '
              span Radio
            =' text'
          p(aria-orientation='vertical' role='group')
            label
              input(type='checkbox')
              =' '
              span Option 1
            label
              input(type='checkbox')
              =' '
              span Option 2
            label
              input(type='checkbox')
              =' '
              span Option 3
          p text #[input(type='range')] text
          p
            ='text '
            textarea
            =' text'
          p
            ='text '
            input(type='file')
            =' text'
          p: textarea(placeholder='Placeholder goes here…' style='display: block; width: 100%;') Lorem ipsum dolor sit amet.
      form
        fieldset
          legend Test Legend
          p text #[button(disabled) Button] text
          p text #[input(disabled type='text')] text
          p
            ='text '
            select(disabled)
              option Red
              option Green
              option Blue
            =' text'
          p text #[textarea(disabled)] text
        p(role='group')
          button(type='submit') Action 1
          =' '
          button(type='submit') Action 2
          =' '
          button(type='submit') Action 3